*.idea/
phase_field_model/MooseProject/.jitcache
phase_field_model/MooseProject/logs
phase_field_model/MooseProject/generated_inputs
phase_field_model/MooseProject/results
generative_ai/old_scripts/
generative_ai/data/
generative_ai/output/
generative_ai/results/
generative_ai/src/losses/
tmp/